*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Oi', cursive;
    font-size: 20px;    
}

.font-switch{
    font-weight: lighter;
}

#background {
    width: 100vw;
    height: 100vh;
}

h1 {
    font-family: 'Oi', cursive;
    font-size: 65px;
    font-weight: normal; 
    color: white;
    letter-spacing: 5px;
  }

:root {
    --cell-size: 50px;
    --mark-size: calc(var(--cell-size) * .8)
}

 div nav {
    display:flex;
    justify-content: space-between;
 }

 #nav-div {
    width: 100vw;
    display:flex;
    justify-content: center;
 }

h3 {
    margin-top: 4px;
    /* font-weight: 100; */
}

#mid-header {
    margin-right: 112px;
}

#logo {
    margin-left: 38px;
}

#stage {
     display: grid;
    grid-template-columns: repeat(9,auto); 

}

.cell {
    margin-top: 10px ;
    height: 65px;
    width: 60px;
    border : solid 7px lightslategrey;
    border-radius: 5px;
    background: black; 
    cursor: pointer;
    margin: 10px; 
}

#beat-control-center {
    height: auto;
    display:flex;
    justify-content: center;
    margin: 30px;
}

#track-line {
    width: 10px;
    height: 385px;
    background-color: white;
}

#sample-row {
    margin-right:70px;

}

#sample-row > *{
    display:flex;
    justify-content: center;
}

#bass {
    background-color: #970380;
}

#symbol {
    background-color: #2e1258;
}

#something-else {
    background-color: #fae273;
}

#row8 {
    margin-right: 85px;
}