*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
   
   
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 100px;

}

#start {
    display: contents;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fee34d;
    background-color: #cd05de;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #1e1551;
}

#how{
    display:content;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fee34d;
    background-color: #cd05de;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #1e1551;
}

i{
     display:content;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fee34d;
    background-color: #cd05de;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #1e1551;
    
}

#reset{
    display:block;
     display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fee34d;
    background-color: #cd05de;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #1e1551;
}


#publish{
    display:block;
     display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fee34d;
    background-color:#cd05de ;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #1e1551;
}



img {
    width: 30px;
    height: 30px;
}
